<div class="container container-fluid">
  <div class="row">
    <div class="col-md-6">
      <app-articulo-alta
        *ngIf="formularioAltaVisible"
        (onConfirmarArticulo)="actualizarListado()"
        (onCancelarAlta)="mostrarFormularioAlta(false)"
      ></app-articulo-alta>
      <app-articulo-modificacion
        *ngIf="formularioModificacionVisible"
        [codigo]="codigoSeleccionado"
        [articulos]="articulos"
        (onConfirmar)="actualizarListado()"
        (onCancelar)="mostrarFormularioModificacion(false)"
      >
      </app-articulo-modificacion>
    </div>
    <div class="col-md-6">
      <app-articulo-listado
        (onAgregarArticulo)="mostrarFormularioAlta(true)"
        (onModificarArticulo)="cargarArticuloModificacion($event)"
        (onBajaArticulo)="actualizarListado()"
        [articulos]="articulos"
      ></app-articulo-listado>
    </div>
  </div>
</div>
