<form #articuloForm="ngForm" class="g-3 needs-validation" novalidate>
  <div class="col-md-12">
    <label for="validationCustom01" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="validationCustom01"
      placeholder="Leche"
      name="nombre"
      [(ngModel)]="articulo.nombre"
      #nombre="ngModel"
      required
    />
    <div class="valid-feedback">Parece correcto!</div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="validationCustom02" class="form-label">Precio</label>
      <input
        type="number"
        class="form-control"
        id="validationCustom02"
        placeholder="150"
        name="precio"
        [(ngModel)]="articulo.precio"
        #precio="ngModel"
        required
      />
      <div class="valid-feedback">Parece correcto!</div>
    </div>

    <div class="col-md-6">
      <label for="validationCustom02" class="form-label">Stock</label>
      <input
        type="number"
        class="form-control"
        id="validationCustom02"
        placeholder="300"
        name="stock"
        [(ngModel)]="articulo.stock"
        #stock="ngModel"
        required
      />
      <div class="valid-feedback">Parece correcto!</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="validationCustom04" class="form-label">Categoría</label>
      <select
        class="form-select"
        id="validationCustom04"
        name="categoria"
        [(ngModel)]="articulo.categoria"
        #precio="ngModel"
        required
      >
        <option selected disabled value="">Elija...</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.descripcion }}
        </option>
      </select>
      <div class="invalid-feedback">
        Por favor seleccione una categoría válida.
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom05" class="form-label">Código</label>
      <input
        type="number"
        class="form-control"
        id="validationCustom05"
        placeholder="1000"
        name="codigo"
        [(ngModel)]="articulo.codigo"
        #precio="ngModel"
        required
      />
      <div class="invalid-feedback">Por favor provea un código válido.</div>
    </div>
  </div>
  <div class="col-12">
    <div class="d-flex justify-content-evenly col-12">
        <button class="btn btn-primary" type="submit" (click)="guardarArticulo()">
          Enviar
        </button>
        <button class="btn btn-primary" type="submit" (click)="cancelar()">
          Cancelar
        </button>
      </div>
  </div>
</form>